SUI_PRIVATE_KEY=
SUI_NETWORK=testnet
SUI_RPC_URL=https://fullnode.testnet.sui.io:443
WALRUS_PUBLISHER_URL=https://publisher.walrus-testnet.walrus.space
WALRUS_AGGREGATOR_URL=https://aggregator.walrus-testnet.walrus.space
WALRUS_UPLOAD_RELAY_URL=https://upload-relay.testnet.walrus.space
MEMWAL_PRIVATE_KEY=
MEMWAL_ACCOUNT_ID=
MEMWAL_SERVER_URL=https://relayer-staging.memory.walrus.xyz
SEAL_POLICY_PACKAGE_ID=
SEAL_POLICY_OBJECT_ID=
SEAL_GRANT_OBJECT_ID=
SEAL_KEY_SERVER_OBJECT_ID=0xb012378c9f3799fb5b1a7083da74a4069e3c3f1c93de0b27212a5799ce1e1e98
SEAL_AGGREGATOR_URL=https://seal-aggregator-testnet.mystenlabs.com
