SUI_PRIVATE_KEY=
SUI_NETWORK=testnet
SUI_RPC_URL=https://fullnode.testnet.sui.io:443
WALRUS_PUBLISHER_URL=
WALRUS_AGGREGATOR_URL=
MEMWAL_API_URL=
MEMWAL_API_KEY=
SEAL_POLICY_PACKAGE_ID=
SEAL_POLICY_OBJECT_ID=

